.btn-yours {
  background-color: #94B3FD;
  color: white;
  font-weight: lighter;
  padding: 15px 30px;
  transition: background 0.5s ease-in;
  cursor: pointer;
}

.btn-yours:hover {
  background-color: #B983FF;
}
